<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>exam03</title>
</head>
<body>
  <p>価格を入れてください。</p>
  <form action="exam03-result.html" th:action="@{/exam03/post}" method="post">
    <label for="price1">商品1：</label>
    <input type="text" name="price1" id="price1"><br>
    <label for="price2">商品2：</label>
    <input type="text" name="price2" id="price2"><br>
    <label for="price3">商品3：</label>
    <input type="text" name="price3" id="price3"><br>
    <button>購入</button>
  </form>
</body>
</html>