<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>exam06</title>
</head>
<body>
  <p>ショッピングカート一覧画面</p>
	  <table>
	    <tr th:each="item,status:${application.itemList}">
	      <td th:text="${item.name}">dummy</td>
	      <td><span th:text="${item.price}">dummy</span>円</td>
		    <td><a th:href="@{/exam06/incart/__${status.index}__}">
		      <button>カートへ</button>
		    </a></td>
	    </tr>  
	  </table> 
  <th:block th:if="!${#lists.isEmpty(session.cartList)}">
    <p>商品一覧</p>
	    <table>
      <tr th:each="item,status:${session.cartList}">
        <td th:text="${item.name}">dummy</td>
        <td><span th:text="${item.price}">dummy</span>円</td>
        <td><a th:href="@{/exam06/delete/__${status.index}__}">
          <button>削除</button>
        </a></td>
      </tr>  
    </table>   
	  <p>合計：<span th:text="${#numbers.formatInteger(totalPrice, 1, 'COMMA')}"></span></p>
  </th:block>
</body>
</html>